<a href="https://colab.research.google.com/github/MeeGyo/dataviz2025/blob/main/Dictionary_Function_Loop_Condition_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ภาวิณี หน่อสีดา 663020288-2

HW1 note

In [ ]:
inp = '12:30:15-13:41:07'
inp_list = inp.split('-')
inp_list

['12:30:15', '13:41:07']

# Dictionary

In [ ]:
dict_a = {'abc':123,'def':456,'ghi':789}

In [ ]:
print(dict_a)

{'abc': 123, 'def': 456, 'ghi': 789}

In [ ]:
dict_a['def']

456

In [ ]:
dict_b = {}

In [ ]:
dict_b['a'] = 567 #ถ้า run เรื่อยๆ list add ไปเรื่อยๆ but Dict ทับค่าเดิมไปเลย

In [ ]:
dict_b

{'a': 567, 'b': 123}

## การ add สมาชิกเข้าไปใน dict

In [ ]:
if 'b' not in dict_b:
    dict_b['b'] = 123

In [ ]:
dict_b

{'a': 567, 'b': 123}

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [ ]:
def print_myname():   # ตัวอย่าง function ที่ไม่มีทั้ง input และ output
    print('Pawinee')

In [ ]:
print_myname()

Pawinee

In [ ]:
def print_name(name):        # ตัวอย่าง function ที่ มี input หลายตัว กับ output 1 ตัว
    st = f'ชื่อ {name}'
    return st

In [ ]:
print_name('ภาวิณี')

'ชื่อ ภาวิณี'

In [ ]:
a = print_name('ภาวิณี')

In [ ]:
a

'ชื่อ ภาวิณี'

In [ ]:
print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

In [ ]:
def print_fullname(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return(st)

In [ ]:
print_fullname('หน่อสีดา','663020288-2','ภาวิณี')

'ชื่อ ภาวิณี นามสกุล หน่อสีดา รหัส 663020288-2'

In [ ]:
print_fullname(name='ภาวิณี',surname='หน่อสีดา',ID='663020288-2')

'ชื่อ ภาวิณี นามสกุล หน่อสีดา รหัส 663020288-2'

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_fullname2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_fullname2(name='ภาวิณี',surname='หน่อสีดา',ID='663020288-2')

ชื่อ ภาวิณี นามสกุล หน่อสีดา รหัส 663020288-2

### ข้อแตกต่างระหว่าง function ที่มีและไม่มี output

In [ ]:
out_printname1 = print_fullname2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2') # มี output
print(out_printname1)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
None

In [ ]:
out_printname1

In [ ]:
out_printname2 = print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')  # ไม่มี output
print(out_printname2)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
None

In [ ]:
out_printname2

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับ input ของฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('ภาวิณี','หน่อสีดา','663020288-2')

ชื่อ ภาวิณี นามสกุล หน่อสีดา รหัส 663020288-2
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ภาวิณี','หน่อสีดา','663020288-2','A')

ชื่อ ภาวิณี นามสกุล หน่อสีดา รหัส 663020288-2
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ภาวิณี','หน่อสีดา','663020288-2',grade = 'A')

ชื่อ ภาวิณี นามสกุล หน่อสีดา รหัส 663020288-2
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ภาวิณี','หน่อสีดา') #ขาด ID

TypeError: print_2lines_default() missing 1 required positional argument: 'ID'

# Quiz3
เขียน function ที่รับ input 1 ตัว ตาม format hh1:mm1:ss1 - hh2:mm2:ss2 และคำนวณหา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 โดยยังไม่ต้องสนใจว่า time2 สามารถข้ามไปอีกวันได้

In [ ]:
def cal_dif_secs(timeinput):
    timelist = timeinput.split('-')
    time1 = timelist[0].split(':')
    time2 = timelist[1].split(':')
    time1_sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
    time2_sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])
    dif_sec = time2_sec - time1_sec
    return dif_sec

In [ ]:
cal_dif_secs('12:30:15-13:41:07')

4252

# Quiz5

เขียน function ของ HW2

commit "quiz5"

In [ ]:
#ใน colab เขียน function คำนวณวินาทีจากวันเวลาที่ใส่เข้ามา 12:30:15, Wednesday - 13:41:07, Thursday 12:53:15, Monday - 00:59:25, Tuesday 16:06:09, Sunday - 11:11:11, Tuesday
def get_seconds_diff(start_str, end_str):
    """
    คำนวณจำนวนวินาทีระหว่างวันเวลาเริ่มต้นและสิ้นสุดในรูปแบบ "HH:MM:SS, DayOfWeek"
    โดยไม่ใช้โมดูล datetime, ไม่ใช้ฟังก์ชัน map, และไม่ใช้ dictionary สำหรับ day_map

    Args:
        start_str (str): สตริงวันเวลาเริ่มต้น
        end_str (str): สตริงวันเวลาสิ้นสุด

    Returns:
        int: จำนวนวินาทีทั้งหมด หรือ None หากเกิดข้อผิดพลาด
    """
    sec_in_day = 24 * 3600 # วินาทีใน 1 วัน

    def get_day_number(day_name):
        # แปลงชื่อวันในสัปดาห์เป็นตัวเลข (0=Monday, 6=Sunday)
        if day_name == "Monday": return 0
        elif day_name == "Tuesday": return 1
        elif day_name == "Wednesday": return 2
        elif day_name == "Thursday": return 3
        elif day_name == "Friday": return 4
        elif day_name == "Saturday": return 5
        elif day_name == "Sunday": return 6
        else: return -1 # ค่าผิดพลาด

    try:
        def parse_time_to_total_seconds(time_day_string):
            # แยกส่วนเวลาและส่วนวัน
            parts = time_day_string.split(', ')
            time_part = parts[0]
            day_part = parts[1]

            # แยกชั่วโมง นาที วินาทีด้วยการค้นหาตำแหน่ง ':'
            first_colon_idx = -1
            second_colon_idx = -1
            for i, char in enumerate(time_part):
                if char == ':':
                    if first_colon_idx == -1:
                        first_colon_idx = i
                    else:
                        second_colon_idx = i
                        break

            # ดึงส่วนของชั่วโมง นาที วินาทีออกมา
            h_str = time_part[0:first_colon_idx]
            m_str = time_part[first_colon_idx+1:second_colon_idx]
            s_str = time_part[second_colon_idx+1:]

            # แปลงเป็นจำนวนเต็ม
            h = int(h_str)
            m = int(m_str)
            s = int(s_str)

            # คำนวณวินาทีรวมจากเริ่มต้นสัปดาห์
            day_num = get_day_number(day_part)
            if day_num == -1: # ตรวจสอบวันไม่ถูกต้อง
                raise ValueError(f"ชื่อวันไม่ถูกต้อง: {day_part}")

            return day_num * sec_in_day + h * 3600 + m * 60 + s

        start_total_seconds = parse_time_to_total_seconds(start_str)
        end_total_seconds = parse_time_to_total_seconds(end_str)

        # จัดการกรณีที่เวลาสิ้นสุดน้อยกว่าเวลาเริ่มต้น (ข้ามสัปดาห์)
        if end_total_seconds < start_total_seconds:
            end_total_seconds += 7 * sec_in_day

        return end_total_seconds - start_total_seconds

    except (ValueError, IndexError) as e:
        print(f"เกิดข้อผิดพลาดในการประมวลผลข้อมูล: {e}")
        return None

In [ ]:
# ตัวอย่างที่ 1: 12:30:15, Wednesday - 13:41:07, Thursday
print(f'ช่วงเวลาคือ {get_seconds_diff("12:30:15, Wednesday", "13:41:07, Thursday")} วินาที')

ช่วงเวลาคือ 90652 วินาที

# Quiz 6

เขียน function ของ HW2 มีการใช้ค่า default ของ input โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องกรอกเลยหรือกรอกแค่ 1 ตัว

In [ ]:
def get_time_diff_with_days(start_str, end_str=None):
    """
    คำนวณจำนวนวินาทีและจำนวนวันระหว่างวันเวลาเริ่มต้นและสิ้นสุด
    โดยมีค่า default สำหรับ end_str และรองรับการกรอกอินพุตเพียงตัวเดียว
    ในกรณีที่เป็นวันเดียวกัน หรือต้องการคำนวณถึงเวลาปัจจุบัน

    Args:
        start_str (str): สตริงวันเวลาเริ่มต้นในรูปแบบ "HH:MM:SS, DayOfWeek"
                         หรือ "HH:MM:SS" (ถ้าเป็นเวลาในวันเดียวกัน)
        end_str (str, optional): สตริงวันเวลาสิ้นสุดในรูปแบบ "HH:MM:SS, DayOfWeek"
                                  หรือ "HH:MM:SS" (ถ้าเป็นเวลาในวันเดียวกัน)
                                  หากไม่ระบุ (None) จะคำนวณจาก start_str ถึงเวลาปัจจุบัน

    Returns:
        tuple: (จำนวนวินาทีทั้งหมด, จำนวนวันทั้งหมด) หรือ None หากเกิดข้อผิดพลาด
    """
    sec_in_day = 24 * 3600 # วินาทีใน 1 วัน

    def get_day_number(day_name_input):
        # แปลงชื่อวันในสัปดาห์เป็นตัวเลข (0=Monday, 6=Sunday)
        if day_name_input == "Monday": return 0
        elif day_name_input == "Tuesday": return 1
        elif day_name_input == "Wednesday": return 2
        elif day_name_input == "Thursday": return 3
        elif day_name_input == "Friday": return 4
        elif day_name_input == "Saturday": return 5
        elif day_name_input == "Sunday": return 6
        else: return -1 # ค่าผิดพลาด

    def parse_time_to_total_seconds(time_day_string, current_day_num=None):
        # ตรวจสอบว่าอินพุตมีวันในสัปดาห์ระบุมาด้วยหรือไม่
        if ', ' in time_day_string:
            parts = time_day_string.split(', ')
            time_part = parts[0]
            day_part = parts[1]
            day_num = get_day_number(day_part)
            if day_num == -1:
                raise ValueError(f"ชื่อวันไม่ถูกต้อง: {day_part}")
        else:
            # ถ้าไม่มีวันในสัปดาห์ระบุมา ให้ใช้ day_num ที่ส่งมา (จากเวลาปัจจุบัน)
            # หรือถือว่าเป็นวันเดียวกันกับ start_str
            time_part = time_day_string
            if current_day_num is None:
                # กรณีที่ไม่ระบุวันเลย (ต้องเป็นเวลาในวันเดียวกัน)
                day_num = 0 # ใช้ 0 ชั่วคราวเพื่อคำนวณแค่เวลาในวันนั้น
            else:
                day_num = current_day_num

        # แยกชั่วโมง นาที วินาที (ไม่ใช้ map)
        first_colon_idx = -1
        second_colon_idx = -1
        for i, char in enumerate(time_part):
            if char == ':':
                if first_colon_idx == -1:
                    first_colon_idx = i
                else:
                    second_colon_idx = i
                    break

        h_str = time_part[0:first_colon_idx]
        m_str = time_part[first_colon_idx+1:second_colon_idx]
        s_str = time_part[second_colon_idx+1:]

        h = int(h_str)
        m = int(m_str)
        s = int(s_str)

        return day_num * sec_in_day + h * 3600 + m * 60 + s

    try:
        if end_str is None:
            # กรณี end_str เป็น None: คำนวณจาก start_str ไปยังเวลาปัจจุบัน
            # จำเป็นต้อง import datetime เพื่อดึงเวลาและวันปัจจุบัน
            from datetime import datetime
            now = datetime.now()
            current_day_name = now.strftime("%A")
            current_day_num = get_day_number(current_day_name)
            current_time_str = now.strftime("%H:%M:%S")

            start_total_seconds = parse_time_to_total_seconds(start_str)
            end_total_seconds = parse_time_to_total_seconds(current_time_str, current_day_num)

            start_day_part_only = start_str.split(', ')[1] if ', ' in start_str else None

            if start_day_part_only is None:
                # ถ้า start_str ไม่ได้ระบุวันมา ถือว่าอยู่คนละวันกับปัจจุบันได้
                # จะจัดการในบรรทัดถัดไป
                pass
            elif current_day_num < get_day_number(start_day_part_only):
                # ถ้าวันปัจจุบันย้อนกลับจากวันเริ่มต้น (ในรอบสัปดาห์)
                end_total_seconds += 7 * sec_in_day

            total_seconds = end_total_seconds - start_total_seconds
            total_days = total_seconds // sec_in_day # จำนวนวันเต็ม
            return (total_seconds, total_days)

        # กรณี end_str ไม่เป็น None
        start_day_given = ', ' in start_str
        end_day_given = ', ' in end_str

        if start_day_given and end_day_given:
            # กรณีปกติ: มีวันในสัปดาห์ระบุมาทั้งคู่
            start_total_seconds = parse_time_to_total_seconds(start_str)
            end_total_seconds = parse_time_to_total_seconds(end_str)

            if end_total_seconds < start_total_seconds:
                end_total_seconds += 7 * sec_in_day # ข้ามสัปดาห์

            total_seconds = end_total_seconds - start_total_seconds
            total_days = total_seconds // sec_in_day
            return (total_seconds, total_days)

        elif not start_day_given and not end_day_given:
            # กรณี: ไม่ระบุวันเลยทั้งคู่ (ถือว่าเป็นเวลาในวันเดียวกันและข้ามวันได้)
            start_total_seconds = parse_time_to_total_seconds(start_str, current_day_num=0)
            end_total_seconds = parse_time_to_total_seconds(end_str, current_day_num=0)

            if end_total_seconds < start_total_seconds:
                end_total_seconds += sec_in_day # ข้ามวัน

            total_seconds = end_total_seconds - start_total_seconds
            total_days = total_seconds // sec_in_day
            return (total_seconds, total_days)

        else:
            # กรณีผสม: มีอันใดอันหนึ่งระบุวันมา แต่อีกอันไม่ (คลุมเครือ)
            print("ข้อผิดพลาด: รูปแบบอินพุตไม่สอดคล้องกัน (ต้องระบุวันทั้งคู่ หรือไม่ระบุเลยทั้งคู่)")
            return None

    except (ValueError, IndexError) as e:
        print(f"เกิดข้อผิดพลาดในการประมวลผลข้อมูล: {e}")
        return None

In [ ]:
result1 = get_time_diff_with_days("12:30:15, Wednesday", "13:41:07, Thursday")
print(f"12:30:15, Wednesday - 13:41:07, Thursday: วินาที={result1[0]}, วัน={result1[1]}") # Output: วินาที=90652, วัน=1

result2 = get_time_diff_with_days("16:06:09, Sunday", "11:11:11, Tuesday")
print(f"16:06:09, Sunday - 11:11:11, Tuesday: วินาที={result2[0]}, วัน={result2[1]}") # Output: วินาที=140702, วัน=1

result3 = get_time_diff_with_days("12:53:15, Monday", "00:59:25, Tuesday")
print(f"12:53:15, Monday - 00:59:25, Tuesday: วินาที={result3[0]}, วัน={result3[1]}") # Output: วินาที=43570, วัน=0

12:30:15, Wednesday - 13:41:07, Thursday: วินาที=90652, วัน=1
16:06:09, Sunday - 11:11:11, Tuesday: วินาที=155102, วัน=1
12:53:15, Monday - 00:59:25, Tuesday: วินาที=43570, วัน=0

# Quiz3.5

รับ input 2 ตัว โดยตั้งค่า default time1 เป็น 00:00:00

## HW2

วนลูป หา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 ต่อไปนี้


1. 18:09:10 - 18:25:10
2. 13:38:39 - 23:54:39
3. 16:49:58 - 18:05:58
4. 21:49:10 - 22:24:10
5. 08:52:21 - 09:25:21
6. 06:56:26 - 07:49:26
7. 12:08:05 - 12:43:05
8. 01:48:38 - 07:18:38
9. 08:51:21 - 10:17:21
10. 17:05:17 - 18:09:17

## inspect existing function

- https://www.w3schools.com/python/ref_func_print.asp
- https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html#sklearn.tree.DecisionTreeClassifier

In [ ]:
print('abc','def')

abc def

In [ ]:
print('abc','def', sep ='+')

abc+def

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [1]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [4]:
for i in 'Thanapong':
    print(f'{i} -> /' )

T -> /
h -> /
a -> /
n -> /
a -> /
p -> /
o -> /
n -> /
g -> /

In [7]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '\n') #สั่งให้ print แบบเว้นบรรทัด

T -> /
h -> /
a -> /
n -> /
a -> /
p -> /
o -> /
n -> /
g -> /

In [6]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = ' ') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> /  h -> /  a -> /  n -> /  a -> /  p -> /  o -> /  n -> /  g -> /

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [9]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [10]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [11]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

## วนลูปโดยไม่สนใจทั้งสมาชิกและลำดับ

In [13]:
index = 0
for i in 'Pawinee':
  print(f'สมาชิกคือ {i} เป็นลำดับที่ {index}')
  index += 1

สมาชิกคือ P เป็นลำดับที่ 0
สมาชิกคือ a เป็นลำดับที่ 1
สมาชิกคือ w เป็นลำดับที่ 2
สมาชิกคือ i เป็นลำดับที่ 3
สมาชิกคือ n เป็นลำดับที่ 4
สมาชิกคือ e เป็นลำดับที่ 5
สมาชิกคือ e เป็นลำดับที่ 6

In [14]:
for i,index in enumerate('Pawinee'):
  print(f'สมาชิกคือ {i} เป็นลำดับที่ {index}')

สมาชิกคือ 0 เป็นลำดับที่ P
สมาชิกคือ 1 เป็นลำดับที่ a
สมาชิกคือ 2 เป็นลำดับที่ w
สมาชิกคือ 3 เป็นลำดับที่ i
สมาชิกคือ 4 เป็นลำดับที่ n
สมาชิกคือ 5 เป็นลำดับที่ e
สมาชิกคือ 6 เป็นลำดับที่ e

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [15]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print('  ', name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
   2  x  1  =  2
   2  x  2  =  4
   2  x  3  =  6
   2  x  4  =  8
   2  x  5  =  10
   2  x  6  =  12
   2  x  7  =  14
   2  x  8  =  16
   2  x  9  =  18
   2  x  10  =  20
   2  x  11  =  22
   2  x  12  =  24
the inner loop is end
now name1 = 3
   3  x  1  =  3
   3  x  2  =  6
   3  x  3  =  9
   3  x  4  =  12
   3  x  5  =  15
   3  x  6  =  18
   3  x  7  =  21
   3  x  8  =  24
   3  x  9  =  27
   3  x  10  =  30
   3  x  11  =  33
   3  x  12  =  36
the inner loop is end
now name1 = 4
   4  x  1  =  4
   4  x  2  =  8
   4  x  3  =  12
   4  x  4  =  16
   4  x  5  =  20
   4  x  6  =  24
   4  x  7  =  28
   4  x  8  =  32
   4  x  9  =  36
   4  x  10  =  40
   4  x  11  =  44
   4  x  12  =  48
the inner loop is end

### Quiz 7 วนลูป แสดงค่าตัวเลขออกมาเป็นสามเหลี่ยมตามตัวอย่างดังนี้

ex.

1

2 4

3 6 9

4 8 12 16

5 10 15 20 25

In [16]:
for i in range(1, 6):  # Outer loop for rows
    for j in range(1, i + 1):  # Inner loop for columns
        print(i * j, end=" ")
    print()  # Move to the next line after each row

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [17]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [21]:
list_friends = ['คุณหนูเบียร์','พ่อใหญ่เฟิร์ส','อ้ายสีหนุ่ม','จ่าหนึ่ง','บักโส']

In [22]:
print_feelings('แก้ม',list_friends)

แก้ม คิดถึง คุณหนูเบียร์
แก้ม คิดถึง พ่อใหญ่เฟิร์ส
แก้ม คิดถึง อ้ายสีหนุ่ม
แก้ม คิดถึง จ่าหนึ่ง
แก้ม คิดถึง บักโส

In [25]:
print_feelings('เจมส์',list_friends,feeling='รัก')

เจมส์ รัก คุณหนูเบียร์
เจมส์ รัก พ่อใหญ่เฟิร์ส
เจมส์ รัก อ้ายสีหนุ่ม
เจมส์ รัก จ่าหนึ่ง
เจมส์ รัก บักโส

In [26]:
print_feelings('แก้ม',list_friends,'ซัง')

แก้ม ซัง คุณหนูเบียร์
แก้ม ซัง พ่อใหญ่เฟิร์ส
แก้ม ซัง อ้ายสีหนุ่ม
แก้ม ซัง จ่าหนึ่ง
แก้ม ซัง บักโส

## Dictionary (Data Structure)

โครงสร้างข้อมูลที่จัดเก็บข้อมูลโดยการอ้างอิงโดย text

วงเล็บ ```{``` ```}``` Curly Brackets

In [ ]:
Ex_dict_A = {'memberA':[1,2,3],'memberB':8,'memberC':'abc'}

In [ ]:
Ex_dict_A

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [ ]:
Ex_dict_A['memberA']

[1, 2, 3]

In [ ]:
Ex_dict_A['memberA'][1]

2

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [27]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [28]:
name_grade['ปนัดดา']

'A'

In [29]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [30]:
name_grade.values()

dict_values(['B', 'C', 'A', 'F'])

In [31]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [32]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

## HW2 Example

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"]]

def time_to_second(time1,time2):
    time1_list = time1.split(':')
    time2_list = time2.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    time2_sec = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])
    return(time2_sec - time1_sec)

for time1,time2 in time_list:
  diff_seconds = time_to_second(time1,time2)
  print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds

In [ ]:
time1 = "18:09:10"
time2 = "00:25:10"
diff_seconds = time_to_second(time1,time2)
print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 00:25:10 is -63840 seconds

# ตัวอย่าง quiz 6

In [ ]:
# prompt: สร้าง function คำนวณจำนวน วินาที ที่แตกต่างระหว่าง input hh:mm:ss, day of the week 2 ค่า

from datetime import datetime

def get_seconds_diff_with_days(start_time_str, end_time_str):
    """
    คำนวณจำนวนวินาทีที่แตกต่างระหว่างวันเวลาเริ่มต้นและสิ้นสุด
    ในรูปแบบ "HH:MM:SS, DayOfWeek"

    Args:
        start_time_str (str): สตริงวันเวลาเริ่มต้น
        end_time_str (str): สตริงวันเวลาสิ้นสุด

    Returns:
        int: จำนวนวินาทีทั้งหมด หรือ None หากเกิดข้อผิดพลาด
    """
    sec_in_day = 24 * 3600  # วินาทีใน 1 วัน

    # ไม่ใช้ dictionary หรือ map สำหรับแปลงชื่อวันเป็นตัวเลข
    def get_day_number(day_name):
        # แปลงชื่อวันในสัปดาห์เป็นตัวเลข (0=Monday, 6=Sunday)
        # ใช้ if-elif-else แทน dictionary หรือ map
        if day_name == "Monday": return 0
        elif day_name == "Tuesday": return 1
        elif day_name == "Wednesday": return 2
        elif day_name == "Thursday": return 3
        elif day_name == "Friday": return 4
        elif day_name == "Saturday": return 5
        elif day_name == "Sunday": return 6
        else: return -1  # ค่าผิดพลาดสำหรับชื่อวันที่ไม่ถูกต้อง

    def parse_time_day_string(time_day_string):
        # แยกส่วนเวลาและส่วนวันโดยการค้นหาตำแหน่งของ ", "
        comma_index = -1
        for i in range(len(time_day_string) - 2):
            if time_day_string[i:i+2] == ', ':
                comma_index = i
                break

        if comma_index == -1:
             raise ValueError("รูปแบบอินพุตไม่ถูกต้อง: ไม่พบ ', ' เพื่อแยกเวลาและวัน")

        time_part = time_day_string[:comma_index]
        day_part = time_day_string[comma_index + 2:]

        # แยกชั่วโมง นาที วินาทีด้วยการค้นหาตำแหน่ง ':' (ไม่ใช้ split)
        first_colon_idx = -1
        second_colon_idx = -1
        for i, char in enumerate(time_part):
            if char == ':':
                if first_colon_idx == -1:
                    first_colon_idx = i
                else:
                    second_colon_idx = i
                    break

        if first_colon_idx == -1 or second_colon_idx == -1:
             raise ValueError("รูปแบบเวลาไม่ถูกต้อง: ต้องอยู่ในรูปแบบ HH:MM:SS")

        # ดึงส่วนของชั่วโมง นาที วินาทีออกมา (ไม่ใช้ slicing โดยตรงถ้าต้องการหลีกเลี่ยง)
        # แต่วิธีที่ง่ายที่สุดคือ slicing
        h_str = time_part[:first_colon_idx]
        m_str = time_part[first_colon_idx + 1:second_colon_idx]
        s_str = time_part[second_colon_idx + 1:]

        # แปลงเป็นจำนวนเต็ม
        h = int(h_str)
        m = int(m_str)
        s = int(s_str)

        # แปลงชื่อวันเป็นตัวเลข
        day_num = get_day_number(day_part)
        if day_num == -1:
            raise ValueError(f"ชื่อวันไม่ถูกต้อง: {day_part}")

        # คำนวณวินาทีรวมจากเริ่มต้นสัปดาห์
        return day_num * sec_in_day + h * 3600 + m * 60 + s

    try:
        start_total_seconds = parse_time_day_string(start_time_str)
        end_total_seconds = parse_time_day_string(end_time_str)

        # จัดการกรณีที่เวลาสิ้นสุดน้อยกว่าเวลาเริ่มต้น (ข้ามสัปดาห์)
        if end_total_seconds < start_total_seconds:
            # เพิ่มจำนวนวินาทีของ 1 สัปดาห์
            end_total_seconds += 7 * sec_in_day

        return end_total_seconds - start_total_seconds

    except (ValueError, IndexError) as e:
        print(f"เกิดข้อผิดพลาดในการประมวลผลข้อมูล: {e}")
        return None

# ตัวอย่างการใช้งาน:
print(f'ช่วงเวลาคือ {get_seconds_diff_with_days("12:30:15, Wednesday", "13:41:07, Thursday")} วินาที')
print(f'ช่วงเวลาคือ {get_seconds_diff_with_days("16:06:09, Sunday", "11:11:11, Tuesday")} วินาที')
print(f'ช่วงเวลาคือ {get_seconds_diff_with_days("12:53:15, Monday", "00:59:25, Tuesday")} วินาที')
```

# HW3 เพิ่ม loop เข้าไปใน Quiz 6 โดยวนลูป คำนวณ วินาที ในโจทย์ ต่อไปนี้



```
# This is formatted as code
```

# Conditional statemet คือ ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยวข้อ Boolean (True,False)

In [ ]:
condition_1 = True
condition_2 = False

### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

## ==, !=,>=,<=,<,> Operator ของตัวเลข

In [ ]:
def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    return time1_sec

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"],["18:51:21", "00:17:21"],
    ["17:05:17", "11:09:17"],]

In [ ]:
for time1,time2 in time_list:

    if time_to_second(time1) < time_to_second(time2): #ถ้า time1 น้อยกว่า time2
        diff_seconds = time_to_second(time2) - time_to_second(time1)
    else: #ถ้า time1 ไม่น้อยกว่า time2
        diff_seconds = (time_to_second(time2)+(24*60*60)) - time_to_second(time1)

    print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds
Time difference between 18:51:21 - 00:17:21 is 19560 seconds
Time difference between 17:05:17 - 11:09:17 is 65040 seconds

# HW3 เพิ่ม ฟังก์ชั่นแปลงวินาทีกลับมาเป็น ชั่วโมง นาที วินาที โดยไม่ใช่ฟังก์ชั่นช่วยเหลืออื่นๆของ python (~~import~~) ถ้าส่วนของ ชั่วโมง นาที วินาที เป็นศูนย์ ไม่ต้องแสดง

# HW 4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

## ```&```, ```|```, ```in```, ```is```   :  Operator อื่นๆ

In [ ]:
if (1>0) & (0>-1):
    print(True & True)

True

In [ ]:
if 'T' in 'Thanapong':
    print('T in Thanapong')

T in Thanapong

In [ ]:
def return_nothing(x):
    x = x+1

In [ ]:
a = return_nothing(5)

In [ ]:
if a is None:
    print('x is null')

x is null

# Finish

In [ ]:
for i in range(1, 6):  # Outer loop for rows
    for j in range(1, i + 1):  # Inner loop for columns
        print(i * j, end=" ")
    print()  # Move to the next line after each row